# Python Virtual Environment
.venv/

# Spark Datasets
/data/

# Training outputs
/runs/

# Infer:runs outpus
Center-based-SingleShot-Object-DetectionClassification_CeSSODeC/src/infer_runs
*.jpg

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc


